body {
	background-color: #f0f5f9;
}

input[type="date"] {
	position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	color: transparent;
	background: transparent;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
	z-index: -10;
}

input[type="date"]::-webkit-input-placeholder {
	z-index: 99;
}

input[type="date"]:placeholder {
	z-index: 99;
}
input[type="date"]:not(.has-value):before {
	content: attr(placeholder);
	width: 100%;
}

input[type="date"] {
	padding: 12px 20px;
}

/*--SECOND--*/
.pa__top-sec {
	padding: 50px 0;
}
.pa__top-title {
	margin-bottom: 20px;
	color: #455582;
	font: 14px "Gilroy-Extrabold", sans-serif;
}
.pa__middle-range {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.pa__middle-item {
	margin-right: 10px;
}
.pa__top-sec input[type="date"] {
	border: 0;
	padding: 12px 20px;
	color: #99a2ba;
	font-size: 14px;
}

/* If you need to change calendar icon */
/* .pa__top-sec input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 20px;
  height: 20px;
} */

.btn-accent {
	color: #fff;
	background-color: #ff8007;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.btn {
	font: 14px "Gilroy-Extrabold", sans-serif;
	font-weight: 800;
	text-align: center;
	padding: 15px 30px;
	border-radius: 5px;
	text-decoration: none;
	border: 0;
	cursor: pointer;
}

.pa__top-sec input[type="date"]:not(:valid):before {
	content: attr(placeholder);
	width: 100%;
	font: 14px "Gilroy-Extrabold", sans-serif;
}
