.todoPage {
	@apply h-full flex flex-col;
}

.popOverBtn {
	@apply relative inline-block px-6 py-2.5 
  bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md 
  hover:bg-blue-700 hover:shadow-lg 
  focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 
  active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
}

.popOverBtnPopped {
	@apply bg-red-500
  hover:bg-red-700 hover:shadow-lg;
}

.popOverContent {
	@apply absolute mb-60 bottom-full w-full bg-slate-400  p-6 rounded-2xl
  sm:w-80;
}
.hide {
	@apply h-0 w-0 scale-0;
}
